@model Absence.Models.Admin

@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Hello Admin</h1>


<div class="row mt-4">
	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les absences</h5>
		    <p class="card-text">Liste d’absence des étudiants par filière</p>
		    <a href="#" class="btn btn-success">Start</a>
		  </div>
			</div>
	</div>


	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les absences</h5>
		    <p class="card-text">Ajouter une absence d’un étudiant</p>
		    <a href="#" class="btn btn-primary">Start</a>
		 </div>
	</div>
	</div>

	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les absences</h5>
		    <p class="card-text">Supprimer absence</p>
		    <a href="#" class="btn btn-warning">Start</a>
		 </div>
	</div>
	</div>


</div>


<div class="row mt-4">

	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gestion du compte</h5>
		    <p class="card-text">créer un nouveau compte</p>
		    <a href="#" class="btn btn-secondary">Start</a>
		 </div>
	</div>
	</div>


	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gestion du compte</h5>
		    <p class="card-text">modification du compte</p>
		    <a href="#" class="btn btn-info">Start</a>
		 </div>
	</div>
	</div>

	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gestion du compte</h5>
		    <p class="card-text">consultation du compte</p>
		    <a href="#" class="btn btn-secondary">Start</a>
		 </div>
	</div>
	</div>





</div>


<div class="row mt-4">

<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les absences</h5>
		    <p class="card-text">exporter liste d’absence<</p>
		    <a href="#" class="btn btn-success">Start</a>
		 </div>
	</div>
	</div>


	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les absences</h5>
		    <p class="card-text">modifier absence d’un étudiant</p>
		    <a href="#" class="btn btn-danger">Start</a>
		 </div>
	</div>
	</div>

</div>

<div class="row mt-4">


	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les étudiants par filière</h5>
		    <p class="card-text">ajoute Etudiant à une liste</p>
		    <a href="#" class="btn btn-warning">Start</a>
		 </div>
	</div>
	</div>

	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les étudiants par filière</h5>
		    <p class="card-text">import liste étudiant</p>
		    <a href="#" class="btn btn-danger">Start</a>
		 </div>
	</div>
	</div>


	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les étudiants par filière</h5>
		    <p class="card-text">export liste étudiant</p>
		    <a href="#" class="btn btn-primary">Start</a>
		 </div>
	</div>
	</div>





</div>


<div class="row mt-4">

	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer l’absence d’un étudiant</h5>
		    <p class="card-text">Justifier absence</p>
		    <a href="#" class="btn btn-secondary">Start</a>
		 </div>
	</div>
	</div>

	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer l’absence d’un étudiant</h5>
		    <p class="card-text">consulter les absences</p>
		    <a href="#" class="btn btn-info">Start</a>
		 </div>
	</div>
	</div>

	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer l’absence d’un étudiant</h5>
		    <p class="card-text">import un certificat médical</p>
		    <a href="#" class="btn btn-success">Start</a>
		 </div>
	</div>
	</div>






</div>



<div class="row mt-4">

	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer l’absence d’un étudiant</h5>
		    <p class="card-text">notice d’absence</p>
		    <a href="#" class="btn btn-primary">Start</a>
		 </div>
	</div>
	</div>


		<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les filières</h5>
		    <p class="card-text">Ajouter une nouvelle filière</p>
		    <a href="#" class="btn btn-primary">Start</a>
		 </div>
	</div>
	</div>

	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les filières</h5>
		    <p class="card-text">Imprimer fiche d’absence d’une filière</p>
		    <a href="#" class="btn btn-primary">Start</a>
		 </div>
	</div>
	</div>

</div>
