@model Absence.Models.Prof

@{
    ViewData["Title"] = "Prof Dashboard";
}


<h1>Hello Prof</h1>


<div class="row mt-4">
	<div class="col-md-4">
		<div class="card" style="width: 19rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les absences de ses classes</h5>
		    <p class="card-text">Liste d’absence des étudiants</p>
		    <a href="#" class="btn btn-success">Start</a>
		  </div>
			</div>
	</div>


	<div class="col-md-4">
		<div class="card" style="width: 19rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les absences de ses classes</h5>
		    <p class="card-text">Ajouter une absence d’un étudiant</p>
		    <a href="#" class="btn btn-primary">Start</a>
		 </div>
	</div>
	</div>

	<div class="col-md-4">
		<div class="card" style="width: 19rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les absences de ses classes</h5>
		    <p class="card-text">Supprimer absence (cas d’étudiant en retard)</p>
		    <a href="#" class="btn btn-warning">Start</a>
		 </div>
	</div>
	</div>


</div>


<div class="row mt-4">


	<div class="col-md-4">
		<div class="card" style="width: 19rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les absences de ses classes</h5>
		    <p class="card-text">exporter liste d’absence</p>
		    <a href="#" class="btn btn-danger">Start</a>
		 </div>
	</div>
	</div>

	<div class="col-md-4">
		<div class="card" style="width: 19rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les absences de ses classes</h5>
		    <p class="card-text">modifier absence d’un étudiant (exemple : 8 à 10 vers 8 à 12)</p>
		    <a href="#" class="btn btn-danger">Start</a>
		 </div>
	</div>
	</div>


	<div class="col-md-4">
		<div class="card" style="width: 19rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gestion du compte</h5>
		    <p class="card-text">modification du compte</p>
		    <a href="#" class="btn btn-info">Start</a>
		 </div>
	</div>
	</div>




</div>


<div class="row mt-4">

	<div class="col-md-4">
		<div class="card" style="width: 19rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gestion du compte</h5>
		    <p class="card-text">consultation du compte</p>
		    <a href="#" class="btn btn-secondary">Start</a>
		 </div>
	</div>
	</div>


	<div class="col-md-4">
		<div class="card" style="width: 19rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les listes de ses étudiants</h5>
		    <p class="card-text">ajoute Etudiant à une liste</p>
		    <a href="#" class="btn btn-secondary">Start</a>
		 </div>
	</div>
	</div>


	<div class="col-md-4">
		<div class="card" style="width: 19rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les listes de ses étudiants</h5>
		    <p class="card-text">import liste étudiant</p>
		    <a href="#" class="btn btn-secondary">Start</a>
		 </div>
	</div>
	</div>



</div>




<div class="row mt-4">

	<div class="col-md-4">
		<div class="card" style="width: 19rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer les listes de ses étudiants</h5>
		    <p class="card-text">export liste étudiant</p>
		    <a href="#" class="btn btn-secondary">Start</a>
		 </div>
	</div>
	</div>



</div>
