@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 style="color: #2f75fb;">Absence Management System.</h3>

    <img src="https://www.actiplans.com/wp-content/uploads/2021/10/Leave-Request-Management-pic.png" style="height:380px;" />
</div>
