@model Absence.Models.Student

@{
    ViewData["Title"] = "My Account";
}


<div class="container mt-4">

		<h1 class="mb-4 mt-4">My Account</h1>
	    <div class="border p-3">
	    	<div class="row">
	    		<div class="col-md-8">
	    			<h1>
	    				<strong>Username : </strong>@Html.DisplayFor(model => model.UserName)
	    			</h1>
	    		</div>
	    		<div class="col-md-4">
	    			<img src="https://picsum.photos/seed/picsum/150/150" style="border-radius:50%;"  />
	    		</div>
	    	</div>

	    	<div class="row mt-4">
	    		<h3 class="pl-2">
	    				<stron>Email : </strong> @Html.DisplayFor(model => model.Email)
	    		</h3>
	    	</div>
	    </div>

	    <a asp-controller="Student" asp-action="StudentDash" class="btn btn-info mt-4">Back</a>
</div>
