@model Absence.Models.Student

@{
    ViewData["Title"] = "Student Dashboard";
}

<h1>Hello Student</h1>



<div class="row mt-4">
	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer ses absences</h5>
		    <p class="card-text">Justifier absence à un professeur ou au service administration</p>
		   <a asp-controller="Student" asp-action="JustifierLettres" class="btn btn-info">Start</a>

		  </div>
			</div>
	</div>


	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer ses absences</h5>
		    <p class="card-text">import un certificat médical pour justifier ton absence</p>
		    <a asp-controller="Student" asp-action="JustifierDocuments" class="btn btn-success">Start</a>
		 </div>
	</div>
	</div>

	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer ses absences</h5>
		    <p class="card-text">notice d’absence (déclarer une absence avant le temps)</p>
		    <a asp-controller="Student" asp-action="NoticeAbsence" class="btn btn-warning">Start</a>
		 </div>
	</div>
	</div>


</div>


<div class="row mt-4">
	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gérer ses absences</h5>
		    <p class="card-text">Consulter tes absences</p>
		    <a asp-controller="Student" asp-action="ConsulterAbsence" class="btn btn-warning">Start</a>

		 </div>
	</div>
	</div>


	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gestion du compte</h5>
		    <p class="card-text">modification du compte</p>
		     <a asp-controller="Student" asp-action="Edit" class="btn btn-info">Start</a>
		 </div>
	</div>
	</div>

	<div class="col-md-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gestion du compte</h5>
		    <p class="card-text">consultation du compte</p>
		    <a asp-controller="Student" asp-action="CompteConsultation" class="btn btn-secondary">Start</a>
		 </div>
	</div>
	</div>





</div>
